﻿@model IEnumerable<test_task1.Models.Org>
@{
    ViewData["Title"] = "Добро пожаловать!";
    Layout = null;
}

<html>
<head>
</head>
<body>
<h3>Организации</h3>
<form method="get" action="~/search">
    <input type="text" name="searchString" /> <input type="submit" value="Отправить"/>
</form>

<table>
    <tr>
        <td>Название</td>
        <td>ИНН</td>
    </tr>
    @foreach (var org in Model)
    {
        <tr>
            <td>@org.Name</td>
            <td>@org.TIN</td>
        </tr>
    }
</table>
</body>
</html>
